:root {
  --color-primary: white;
  --color-secondary: #1c2029;
  --color-background: #353c4e;
  --line-stroke-width: 2.5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--color-background);
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  display: flex;
}

main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.graph {
  width: 100%;
  height: 40rem;
  margin: 2rem;
}

.graph__line {
  stroke-width: var(--line-stroke-width);
  fill: transparent;
}

.graph__line--price {
  stroke: var(--color-primary);
}

.graph__line--interest {
  stroke: var(--color-secondary);
}

.graph__line__point--price {
  fill: var(--color-primary);
}

.graph__line__point--interest {
  fill: var(--color-secondary);
}

.graph__line__area--interest {
  fill: var(--color-secondary);
  opacity: 0.5;
}

.graph__axis {
  opacity: 0.66;
}

.graph__axis .domain,
.graph__axis line {
  stroke: var(--color-secondary);
  stroke-width: 2px;
}

.graph__axis text {
  fill: var(--color-secondary);
  transform: translateX(-2px);
  font-size: 0.75rem;
}

.menu {
  background: var(--color-secondary);
  display: inline-flex;
  padding: 4rem;
  flex-direction: column;
  height: 100vh;
}

.menu__item {
  color: var(--color-background);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05em;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.menu__item--active {
  color: var(--color-primary);
}

.menu__item svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  margin-right: 0.75em;
}

@media (max-width: 60rem) {
  .menu {
    display: none;
  }

  .graph {
    height: 20rem;
    margin: 0;
  }
}